.players {
    background-color: #0081E9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color : white;
    font-size : 24px;
    margin : 10px;
    padding: 10px;
}

#best_player_title{
    font-size : 24px;
    margin : 10px 10px 0 10px;
    padding: 0 10px;
}