
body {
  margin : 0;
  /*background-image: url("../src/Images/IPL.jpg");*/
  /*background-size: cover;*/
  background-color: #004BA0;
}

#navbar {
  display: none;
  list-style-type: none;
  background-color : rgb(25,56,138);
  /*display: flex;*/
  font-size: 20px;
  padding: 20px 15px;
  margin : 0;
}

#navbar li{
  padding : 0 10px;
}

#navbar li a,.small_screen_navbar a{
  color: white;
  text-decoration: none;
}

.small_screen_navbar {
  background-color : rgb(25,56,138);
}

.small_screen_navbar a{
  display: block;
  padding: 10px 15px;
}


.active_content {
  color: white;
  padding: 10px 15px;
  flex-grow: 1;
}

.small_screen_navbar div{
  font-size: 20px;
  margin-top : 0;
}

.navbar_parent {
  margin-bottom: 20px;
}

.active_row_navbar {
  display: flex;
  justify-content: space-between;
}

.img_parent {
  text-align: right;
  padding-right: 15px;
}

.loader {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

@media screen and (min-width : 540px){
  #navbar{
    display: flex;
  }
  .small_screen_navbar {
    display: none;
  }
}